{{#if @site.cover_image}}
  <div class="site-cover">
    <img class="cover-image u-object-fit"
      {{!-- srcset="{{img_url @site.cover_image size="s"}} 300w" --}}
      src="{{img_url @site.cover_image size="m"}}"
      alt="{{@site.title}}"
    >
    <div class="cover-content">
      {{#if @site.title}}
        <h1 class="cover-title">{{@site.title}}</h1>
      {{/if}}
      {{#if @site.description}}
        <div class="cover-description">{{@site.description}}</div>
      {{/if}}
    </div>
  </div>
{{/if}}