{{#get "posts" filter="featured:true" limit="10" include="tags" as |featured|}}{{#if featured}}
<div class="container"><div class="featured-posts carousel owl">

    {{#foreach featured}}
    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}">

        {{#if feature_image}}
            <figure class="post-media">
                <div class="u-placeholder square">
                    {{#primary_tag}}
                        <a class="post-media-tag post-tag-{{slug}}" href="{{url}}">{{name}}</a>
                    {{/primary_tag}}

                    <a class="post-image-link" href="{{url}}">
                        <img
                            class="post-image u-object-fit"
                            src="{{img_url feature_image size="m"}}"
                            alt="{{title}}"
                        >
                    </a>
                </div>
            </figure>
        {{/if}}

        <header class="post-header">
            <h2 class="post-title">
                <a class="post-title-link" href="{{url}}">{{title}}</a>
            </h2>
        </header>

    </article>
    {{/foreach}}

</div></div>
{{/if}}{{/get}}