<article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}}">

    {{#if feature_image}}
    <figure class="post-media gh-canvas">
        <div class="u-placeholder horizontal kg-width-wide">
            <a class="post-image-link" href="{{url}}">
                <img
                    class="post-image u-object-fit"
                    srcset="{{img_url feature_image size="s"}} 400w,
                            {{img_url feature_image size="m"}} 750w,
                            {{img_url feature_image size="l"}} 960w,
                            {{img_url feature_image size="xl"}} 1140w,
                            {{img_url feature_image size="xxl"}} 1920w"
                    sizes="(min-width: 960px) 960px, 92vw"
                    src="{{img_url feature_image size="l"}}"
                    alt="{{title}}"
                    loading="lazy"
                >
            </a>
        </div>
    </figure>
    {{/if}}

    <div class="gh-canvas">
        <header class="post-header">
            <h2 class="post-title">
                <a class="post-title-link" href="{{url}}">{{title}}</a>
            </h2>
            <div class="post-meta">
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
                </span>
                {{#if reading_time}}
                    <span class="post-meta-item post-meta-length">{{reading_time}}</span>
                {{/if}}
                {{#if @site.comments_enabled}}
                    {{comment_count class="post-meta-item"}}
                {{/if}}
                {{#primary_tag}}
                    <span class="post-meta-item post-meta-tags"><a class="post-tag post-tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a></span>
                {{/primary_tag}}
            </div>
        </header>

        {{#if excerpt}}
            <div class="post-excerpt">
                {{excerpt words="33"}}
            </div>
        {{/if}}
    </div>

</article>