<header class="post-header{{#if big_title}} big-title{{/if}}{{#if single}} container medium{{/if}}">
    {{#if single}}
        <h1 class="post-title">{{title}}</h1>
    {{else}}
        <h2 class="post-title">
            <a class="post-title-link" href="{{url}}">{{title}}</a>
        </h2>
    {{/if}}
    {{^is "page"}}
        {{#unless hide_meta}}
            <div class="post-meta">
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
                </span>
                <span class="post-meta-item post-meta-length">
                    {{reading_time}}
                </span>
                {{#if tags}}
                    <span class="post-meta-item post-meta-tags">
                        {{#foreach tags}}<a class="post-tag post-tag-{{slug}}" href="{{url}}"
                                title="{{name}}">{{name}}</a>{{/foreach}}
                    </span>
                {{/if}}
            </div>
        {{/unless}}
    {{/is}}
</header>