<div class="share u-hover-wrapper">
    <a class="share-item share-facebook u-hover-item"
        href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener"><i
            class="icon icon-facebook"></i></a>
    <a class="share-item share-twitter u-hover-item"
        href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}" target="_blank" rel="noopener"><i
            class="icon icon-twitter"></i></a>
    <a class="share-item share-pinterest u-hover-item"
        href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{featured_image}}&description={{encode title}}"
        target="_blank" rel="noopener" data-pin-do="none"><i class="icon icon-pinterest"></i></a>
    <a class="share-item share-linkedin u-hover-item"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
        target="_blank" rel="noopener"><i class="icon icon-linkedin"></i></a>
    <a class="share-item share-reddit u-hover-item"
        href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}" target="_blank" rel="noopener"><i
            class="icon icon-reddit"></i></a>
    <a class="share-item share-tumblr u-hover-item"
        href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{url absolute="true"}}&title={{encode title}}"
        target="_blank" rel="noopener"><i class="icon icon-tumblr"></i></a>
    <a class="share-item share-vk u-hover-item"
        href="http://vk.com/share.php?url={{url absolute="true"}}&title={{encode title}}" target="_blank" rel="noopener"><i
            class="icon icon-vk"></i></a>
    <a class="share-item share-pocket u-hover-item" href="https://getpocket.com/edit?url={{url absolute="true"}}"
        target="_blank" rel="noopener"><i class="icon icon-pocket"></i></a>
    <a class="share-item share-telegram u-hover-item"
        href="https://t.me/share/url?url={{url absolute="true"}}&text={{encode title}}" target="_blank" rel="noopener"><i
            class="icon icon-telegram"></i></a>
</div>