{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#author}}
            <section class="term kg-width-wide">
                {{#if profile_image}}
                    <div class="term-image-container u-placeholder">
                        <img class="term-image lazyload u-object-fit" data-src={{img_url profile_image size="xs"}}
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            alt="{{name}}">
                    </div>
                {{/if}}
                <div class="term-wrapper">
                    <h1 class="term-name">{{name}}</h1>
                    <div class="term-description">{{bio}}</div>
                </div>
            </section>
        {{/author}}
        <div class="post-feed kg-width-normal">
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>