<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{meta_title}}</title>
  <link rel="stylesheet" href="{{asset "css/screen.css"}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i">

  {{> config}}

  <script>
    if (localStorage.getItem('dark_mode') == 'true') {
      document.documentElement.classList.add('dark-mode');
    }
  </script>
  
  {{ghost_head}}
</head>
<body class="{{body_class}}">
  <div class="site">
    <div class="container">
      {{> header}}
      {{> cover}}
      {{#is "home"}}
        {{> featured}}
      {{/is}}
      <div class="site-content">
        {{{body}}}
      </div>
      {{> footer}}
    </div>
  </div>

  <div class="dimmer"></div>

  <div class="off-canvas">
    <div class="canvas-close"><i class="canvas-icon icon icon-window-close"></i></div>
    <div class="mobile-menu"></div>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script src="{{asset "js/main.min.js"}}"></script>

  {{ghost_foot}}
</body>
</html>