{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#post}}

    <article class="{{post_class}}{{#unless feature_image}} no-image{{/unless}} single-post">
        <header class="post-header container medium">
            <h1 class="post-title">{{title}}</h1>

            <div class="post-meta">
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at}}</time>
                </span>

                <span class="post-meta-item post-meta-length">
                    {{reading_time}}
                </span>

                {{#primary_tag}}
                    <span class="post-meta-item post-meta-tags">
                        <a class="post-tag post-tag-{{slug}}" href="{{url}}" title="{{name}}">{{name}}</a>
                    </span>
                {{/primary_tag}}
            </div>
        </header>

        {{> "post-image"}}

        <div class="post-content gh-content kg-canvas">
            {{content}}
        </div>

        <div class="container medium">
            {{#if @custom.show_author}}
                {{> "author"}}
            {{/if}}
        </div>
    </article>

    {{!-- <div class="comment-container">
        <div class="comment container medium">
            If you want to embed comments, this is a good place to do it!
        </div>
    </div> --}}

    {{#if @custom.show_related_posts}}
        {{> "related"}}
    {{/if}}

    {{/post}}

</main>
</div>