{{!< default}}

<div class="content-area">
  <main class="site-main">
    {{#tag}}
      <section class="term kg-width-wide">
        {{#if feature_image}}
          <div class="term-image-container u-placeholder">
            <img class="term-image lazyload u-object-fit" data-src={{img_url feature_image size="xs"}} alt={{name}}>
          </div>
        {{/if}}
        <div class="term-wrapper">
          <h1 class="term-name">{{name}}</h1>
          <div class="term-description">{{description}}</div>
        </div>
      </section>
    {{/tag}}
    <div class="post-feed kg-width-normal">
      {{#foreach posts}}
        {{> "loop"}}
      {{/foreach}}
    </div>
    {{pagination}}
  </main>
</div>